#footer {
    background-color: #2A3F74;
    position: relative;
    bottom: 0;
}

.foot_link{
    display: block;
    width: 100%;
}

.p_footer{
    display: block;
    width: 100%;
    text-align: center;
}