#header {
    background-color: #2A3F74;
    color: #E06C43;
    justify-content: center;
    left: 0vw;
    position: relative;
    right: 0vw;
    text-align: center;
    top: 0;
}

.top_link {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    width:10%; 
}

#top_title {
    justify-content: center;
    margin-bottom: 1vh;
    margin-top: 5vh;
    margin: auto;
    position: relative;
    width: 50%;
}

#link_div {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width: 100%;
}

