#body_div{
    position: relative;
}

#summary{
    background-color: #2A3F74;
    border-radius: 10px 10px 10px 10px;
    color: #F6F3EC; 
    font-size: larger;
    justify-content: center;
    margin-bottom: 3vw;
    margin-top: 3vw;
    margin: auto;
    text-align: center;
    width: 75%;
}

#homepage_image {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

#homepage_figure{
    height: auto;
    margin-top: 0vw;
    margin: auto;
}

#homepage_image_caption {
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 0vw;
    margin-bottom: 3vw;    
    justify-content: center;
    text-align: center;
}

#paragraph_summary{
    white-space: pre-wrap;
}

.cc{
    width: 10%;
    height: auto;
}