#summary{
    width: 75%;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: #2A3F74;
    color: #F6F3EC; 
    font-size: larger;
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    text-align: center;
}

#homepage_image {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
}

#homepage_figure{
    position: relative;
    margin: auto;
    margin-top: 15vw;
    height: auto;
}

#homepage_image_caption {
    width: 50%;
    margin: auto;
    margin-top: 0vw;
    margin-bottom: 3vw;
    
    justify-content: center;
    text-align: center;
}

