#body_div{
    background-color: #2A3F74;
    border-radius: 10px 10px 10px 10px;
    color: #F6F3EC; 
    display: flex;
    font-size: normal;
    flex-direction: row;
    margin:auto;
    margin-top: 2vh;
    position: relative;
    width: 100%;    
}

p {
    align-items: center;
    background-color: #2A3F74;
    border-radius: 10px 10px 10px 10px;
    color: #F6F3EC; 
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    white-space: pre-wrap;
    width: 80%;
}

.link_box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    text-align: left;
}

a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    text-align: left;
    text-decoration: underline;
    width: 100%;
}

img {
    width: 20vw;
    height: auto
}